@page
@model LibraryManager.Pages.Books.ListModel
@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<form method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search this blog" asp-for="SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var book in Model.Books)
    {
    <tr>
        <td>
            <div>
                @book.Title
            </div>
            <div>
                @book.BookGenre
            </div>
        </td>
        <td>
            <a asp-page="./Detail" asp-route-bookId="@book.Id">Details</a>
        </td>
        <td>
            <a asp-page="./Edit" asp-route-bookId="@book.Id">Edit</a>
        </td>
        <td>
            <a asp-page="./Delete" asp-route-bookId="@book.Id">Delete</a>
        </td>
    </tr>
    }
</table>

<div>
    <a class="btn btn-secondary" asp-page="./Edit">Add</a>
</div>
